
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9fafb;
}

.app {
  min-height: 100vh;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

button:focus {
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.center {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 250px;
  margin: 100px auto;
}

.card {
  padding: 12px;
  background: #646cff;
  color: white;
  margin: 8px 0;
  cursor: pointer;
  border-radius: 8px;
}

